

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
}

.home {
	overflow-y: hidden;
	position: relative;
	width: 100vw;
	height: calc(100vh - 64px);
	background-color: hsla(0, 0%, 10%, 0.4);
	display: flex;
/*	justify-content: center;*/
	align-items: center;
	flex-direction: column;

}

.background {
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: -99;
	background-image: url('./assets/caffe.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}


img {
	width: 200px;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
/*	gap: 30px;*/
	background-color: hsl(0, 0%, 20%);
/*	height: 50px;*/
}

nav:first-child, nav:last-child {
	border-left: 1px solid hsl(0, 0%, 80%);
	border-right: 1px solid hsl(0, 0%, 80%);
}

nav:hover {
	background-color: hsl(37, 6%, 54%);
	cursor: pointer;
}

nav:active {
	background-color: hsl(0, 0%, 100%);
	color: black;

}

button {
	all: unset;
	font-size: 20px;
	font-weight: 400;
	color: hsl(0, 0%, 100%);
	font-family: monospace;
	padding: 20px 30px;
}

button:active {
	color: black;
}

h1, h3, p {
	color: white;
	font-family: monospace;
}

.home h1, p {
	position: relative;
	top: 25%;
}

.home h1 {
	color: white;
	font-size: 44px;
	margin-bottom: 40px;
}

.home p {
	color: white;
	font-size: 18px;
	padding: 0 300px;
	text-align: center;
}


.menu {
	width: 100vw;
	height: calc(100vh - 64px);
	position: relative;
	background-image: url('./assets/boba.jpg');
	background-size: cover;
	overflow: hidden;
/*	mask-image: linear-gradient(
		to right,
		hsla(0, 0%, 0%, 0),
		hsla(0, 0%, 10%, 1) 20%,
		hsla(0, 0%, 10%, 1) 80%,
		hsla(0, 0%, 0%, 0),
	);*/
}

@keyframes scrollLeft {
	to {
		left: -250px;
	}
}


.menu h1 {
	text-align: center;
	font-size: 44px;
	margin: 20px 0;
}

.menuItem {
	width: 250px;
	background-color: hsl(0, 0%, 20%);
	height: 405px;
	border-radius: 8px;
	overflow: hidden;
	position: absolute;
	left: max(calc(250px * 3), 100%);
	animation-name: scrollLeft;
	animation-duration: 30s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-play-state: running;
}

.menu.paused .menuItem {
	animation-play-state: paused;
}

#item1 {
	animation-delay: calc(30s / 3 * (3 - 1) * -1);
}

#item2 {
	animation-delay: calc(30s / 3 * (3 - 2) * -1);
}

#item3 {
	animation-delay: calc(30s / 3 * (3 - 3) * -1);
}

.menuItem img {
	width: 250px;
}

.menuItem h3 {
	text-align: center;

}

.contact {
	width: 100vw;
	height: 100vh;	
	background-image: url('./assets/caffe.jpg');
	background-size: cover;
	background-repeat: no-repeat;

}